.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.result {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.count {display: flex;
justify-content: center;
align-items: center;}
